<mat-toolbar color="primary">
  <mat-icon>work</mat-icon>
  <span>Infact</span>

  <a mat-button routerLink="/home">Accueil</a>
  <a mat-button routerLink="/jobs">Trouver une offre</a>
  <a mat-button routerLink="/companies">Trouver une entreprise</a>
  <a mat-button routerLink="/create-jobs">Créer une offre</a>

  <span class="spacer"></span>
  
  <button mat-icon-button [matMenuTriggerFor]="profil" aria-label="Profil">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #profil="matMenu">
    <button mat-menu-item routerLink="profile">Mon profil</button>
    <button mat-menu-item (click)="onDisconnect()">Déconnexion<mat-icon>logout</mat-icon></button>
  </mat-menu>
</mat-toolbar>
