.content {
  margin: 0 auto;
  padding-bottom: 3em;
}

.offers-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 20px;
  place-items: center;
}
