<div class="content">
  <div class="hero">
    <h1>Bienvenue sur Infact</h1>
    <p>
      Infact, votre partenaire dans la recherche d'emploi, connecte les talents
      aux entreprises qui transforment le monde. Que vous soyez à la recherche
      d'une nouvelle opportunité ou que vous souhaitiez accélérer votre
      carrière, nous vous offrons des milliers d'offres dans tous les secteurs.
      Avec Infact, réalisez votre potentiel professionnel dès aujourd'hui !
    </p>
    <button mat-raised-button color="accent" class="hero-button">
      Explorez les offres maintenant
    </button>
  </div>

  <hr class="divider" />

  <h2 class="offers-title">Les dernières offres :</h2>

  <div class="offers-grid">
    <div *ngFor="let job of jobs" class="job-card">
      <app-job-card [job]="job"></app-job-card>
    </div>
  </div>
</div>
