<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" placeholder="Entrez votre nom" />
    <mat-error *ngIf="this.name?.hasError('required')">
      Le nom est obligatoire.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      formControlName="email"
      placeholder="Entrez votre email"
    />
    <mat-error *ngIf="profileForm.get('email')?.hasError('email')">
      Veuillez entrer un email valide.
    </mat-error>
    <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
      L'email est obligatoire.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Langue</mat-label>
    <mat-select formControlName="languageSpoken">
      <mat-option value="none"></mat-option>
      <mat-option value="Français">Français</mat-option>
      <mat-option value="Anglais">Anglais</mat-option>
      <mat-option value="Espagnol">Espagnol</mat-option>
      <mat-option value="Allemand">Allemand</mat-option>
      <mat-option value="Chinois">Chinois</mat-option>
      <mat-option value="Italien">Italien</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="profileForm.invalid"
    >
      Enregistrer
    </button>
    <button mat-button color="warn" type="button" (click)="onReset()">
      Réinitialiser
    </button>
  </div>
</form>
