<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="company-name">
      {{ company.name }}
    </mat-card-title>
    <mat-card-subtitle class="location">
      <mat-icon>location_on</mat-icon> {{ company.location }}
      <mat-chip *ngIf="company.remoteFriendly" color="primary" selected>
        Télétravail possible
      </mat-chip>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="company-description">
      {{ company.description }}
    </p>
    <small class="founded-year"> Fondée en : {{ company.foundedYear }} </small>
    <small class="industry"> Secteur : {{ company.industry }} </small>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/companies', company.id]"
    >
      En savoir plus
    </button>
    <a
      mat-button
      color="primary"
      [href]="company.website"
      target="_blank"
    >
      Voir le site
    </a>
  </mat-card-actions>
</mat-card>
