<div class="content">
  <div class="search-input">
    <mat-form-field appearance="outline">
      <mat-label>Rechercher une offre</mat-label>
      <input matInput placeholder="Ex: Développeur, Designer..." />
    </mat-form-field>
  </div>

  <div class="filters">
    <mat-chip-listbox aria-label="Filtrer par catégories">
      <mat-chip-option class="chip" selected>Technologie</mat-chip-option>
      <mat-chip-option class="chip">Design</mat-chip-option>
      <mat-chip-option class="chip">Management</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
