<div class="content">
  <form [formGroup]="searchForm">
    <div class="search-inline">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Rechercher une offre</mat-label>
        <input
          matInput
          formControlName="search"
          placeholder="Ex: Développeur, Designer..."
        />
      </mat-form-field>

      <mat-chip-listbox
        formControlName="contractTypes"
        aria-label="Filtrer par catégories"
        multiple
        class="contract-type-filter"
      >
        <mat-chip-option
          *ngFor="let type of contractTypeOptions"
          [value]="type"
        >
          {{ type }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </form>
</div>
